.page.upload
  flex-grow: 1
  display: flex
  flex-direction: column

  .alert
    padding: 16px
    margin: 16px 0
    box-shadow: 0 2px 4px rgba(33, 33, 33, 0.2)
    text-decoration: none
    border-radius: 2px
    &.success
      background: #DCEDC8
      color: #689F38
      border-color: #689F38
      a
        color: #33691E
    &.error
      background: #FFEBEE
      color: #F44336
      border-color: #F44336
      a
        color: #D32F2F

  form.upload
    padding: 96px 0
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    text-decoration: none
    border-radius: 2px
    text-align: center
    background: #333333
    .upload-label
      font-size: 18pt
      color: #fff
    label
      position: relative
      display: inline-block
      overflow: hidden
      span.text
        position: relative
        display: inline-block
        background: #FFC107
        padding: 4px 16px
        border-radius: 2px
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
        line-height: 24px
        color: #282828
        cursor: pointer
        z-index: 1
        &:hover, &:focus
          background: #FFD54F
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
      input[type=file]
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        opacity: 0
  .uploading.images
    display: flex
    flex-direction: row
    align-items: start
    align-self: center
    margin: 32px
    .sidebar
      width: 250px
      margin-left: 32px
      .url
        background: #333333
        border-radius: 4px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
        padding: 8px
        margin-bottom: 8px
        p
          color: #ffffff
        div
          display: flex
          flex-direction: row
          input
            background: none
            color: #fff
            opacity: 0.4
            border: none
            flex-shrink: 1
            display: block
            flex-grow: 1
            width: 0
            text-overflow: ellipsis
          button.copy
            display: block
            background: #FFC107
            padding: 4px 16px
            border-radius: 2px
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
            border: none
            font-family: 'Lato', sans-serif
            font-size: 10pt
            line-height: 24px
            margin-left: 8px
            cursor: pointer
      .actions
        background: #333333
        border-radius: 4px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
        display: flex
        flex-direction: row
        margin-bottom: 8px
        .delete-form, .update-form
          display: flex
          flex-grow: 1
          input[type=submit]
            display: block
            background: #FFC107
            padding: 4px 16px
            border-radius: 2px
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
            border: none
            font-family: 'Lato', sans-serif
            font-size: 10pt
            line-height: 24px
            margin: 8px
            flex-grow: 1
            cursor: pointer
            &:hover, &:focus
              background: #FFD54F
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    .detail
      max-width: 640px
      width: 100%
      background: #333333
      border-radius: 4px
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4)
      .title
        line-height: 1.25
        padding: 16px
        vertical-align: middle
        font-size: 14pt
        font-weight: normal
        color: #eee
        background: none
        border: none
        width: 100%
        box-sizing: border-box
        &:not(.fake-input):empty
          display: none
          & + .image
            border-top-left-radius: 4px
            border-top-right-radius: 4px
      .progress
        position: relative
        height: 4px
        display: block
        background-color: rgba(255, 193, 7, 0.2)
        overflow: hidden
        transition: opacity 400ms
        .indeterminate
          background-color: rgba(255, 193, 7, 0.8)
          &::before
            content: ''
            position: absolute
            background-color: inherit
            top: 0
            left: 0
            bottom: 0
            will-change: left, right
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
          &::after
            content: ''
            position: absolute
            background-color: inherit
            top: 0
            left: 0
            bottom: 0
            will-change: left, right
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite
            animation-delay: 1.125s
      &:not(.uploading).progress
        display: none
      .image
        background: #000
        display: flex
        flex-direction: row
        justify-content: center
        align-items: start
        img
          max-width: 100%
      .description
        line-height: 1.25
        padding: 16px
        vertical-align: middle
        font-size: 11pt
        font-weight: normal
        color: #eee
        background: none
        border: none
        width: 100%
        box-sizing: border-box
        font-family: 'Lato', sans-serif
        resize: vertical
        white-space: pre-line
        &:not(.fake-input):empty
          display: none
    .fake-input[contenteditable]:empty:before
      opacity: 0.4
      content: attr(placeholder)
  &.submitted .container.centered
    display: none
  &:not(.submitted) .uploading.images
    display: none

@keyframes indeterminate
  0%
    left: -35%
    right: 100%
  60%
    left: 100%
    right: -90%
  100%
    left: 100%
    right: -90%

@keyframes indeterminate-short
  0%
    left: -200%
    right: 100%
  60%
    left: 107%
    right: -8%
  100%
    left: 107%
    right: -8%