{{define "title"}}{{.Image.Title}} | i.k8r{{end}}
{{define "content"}}
<form class="detail" method="post">
    <input type="hidden" name="action" value="update">
{{if .IsMine}}
    <h2 class="title fake-input" contenteditable="true" placeholder="Title">{{.Image.Title}}</h2>
{{else}}
    <h2 class="title">{{.Image.Title}}</h2>
{{end}}
    <div class="image">
        <img src="/{{.Image.Id}}">
    </div>
{{if .IsMine}}
    <div class="description fake-input" contenteditable="true" placeholder="Description" data-multiline>{{.Image.Description}}</div>
    <div class="actions">
        <form class="delete-form" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="id" value="{{.Image.Id}}">
            <input type="submit" value="Delete">
        </form>
    </div>
{{else}}
    <div class="description">{{.Image.Description}}</div>
{{end}}
</form>
{{if .IsMine}}
<script>
    const listener = (event) => {
        requestAnimationFrame(() => {
            document.title = event.target.innerText + " | i.k8r"
        })
    };

    const element = document.querySelector(".title.fake-input[contenteditable]");

    element.addEventListener("input", listener);
    element.addEventListener("keypress", listener);
</script>
{{end}}
{{end}}
