{{define "title"}}{{.Image.Title}} | i.k8r{{end}}
{{define "content"}}
<div class="detail">
{{if .IsMine}}
    <h2 class="title fake-input" contenteditable="true" placeholder="Title">{{.Image.Title}}</h2>
{{else}}
    <h2 class="title">{{.Image.Title}}</h2>
{{end}}
    <div class="image">
        <img src="/{{.Image.Id}}">
    </div>
{{if .IsMine}}
    <p class="description fake-input" contenteditable="true" placeholder="Description" data-multiline>{{.Image.Description}}</p>
    <div class="actions">
        <form class="delete-form" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="id" value="{{.Image.Id}}">
            <input type="submit" value="Delete">
        </form>
        <form class="update-form" method="post">
            <input type="hidden" name="action" value="update">
            <input type="hidden" name="id" value="{{.Image.Id}}">
            <input type="hidden" name="title" value="{{.Image.Title}}">
            <input type="hidden" name="description" value="{{.Image.Description}}">
            <input type="submit" value="Save">
        </form>
    </div>
{{else}}
    <div class="description">{{.Image.Description}}</div>
{{end}}
</div>
{{if .IsMine}}
<script>
    const fakeTitle = document.querySelector(".title.fake-input[contenteditable]");
    const fakeDescription = document.querySelector(".description.fake-input[contenteditable]");

    const actualTitle = document.querySelector(".update-form input[name=title]");
    const actualDescription = document.querySelector(".update-form input[name=description]");

    const fakeTitleListener = (event) => {
        requestAnimationFrame(() => {
            document.title = event.target.innerText + " | i.k8r";
            actualTitle.value = fakeTitle.innerText;
        })

    };
    const fakeDescriptionListener = (event) => {
        requestAnimationFrame(() => {
            actualDescription.value = fakeDescription.innerText;
        })

    };

    // Insert <br> between lines instead of \n for editing
    fakeDescription.innerHTML = "";
    actualDescription.value.split("\n").forEach((line) => {
        const textNode = document.createTextNode(line);
        const brNode = document.createElement("br");
        fakeDescription.appendChild(textNode);
        fakeDescription.appendChild(brNode);
    });
    fakeDescription.removeChild(fakeDescription.lastChild);

    fakeTitle.addEventListener("input", fakeTitleListener);
    fakeTitle.addEventListener("keypress", fakeTitleListener);

    fakeDescription.addEventListener("input", fakeDescriptionListener);
    fakeDescription.addEventListener("keypress", fakeDescriptionListener);
</script>
{{end}}
{{end}}
