{{define "title"}}My Images | i.k8r{{end}}
{{define "content"}}
<div class="images">
{{range .Images}}
    <a class="image" href="/{{.Id}}">
        <div class="image-container">
            <img src="/{{.Id}}t" >
        </div>
        <form action="/me/images/delete" method="post" class="delete-form">
            <input type="hidden" name="id" value="{{.Id}}">
            <input type="submit" value="Delete">
        </form>
        <div class="info">
            <p>{{.OriginalName}}</p>
            <p><time>{{.CreatedAt.Format "2006-01-02 15:04"}}</time></p>
            <p>{{.MimeType}}</p>
        </div>
    </a>
{{end}}
</div>
{{end}}