{{define "title"}}Upload | ik8r{{end}}
{{define "content"}}
<div class="page upload">
    <div class="container centered">
        <form class="upload" action="/upload/" method="POST" enctype="multipart/form-data">
            <label>
                <span class="text">Select Files</span>
                <input type="file" name="file" accept=".jpg,.jpeg,.png,.gif,.apng,.tiff,.tif,.bmp,.webp,.mp4,.mov" multiple/>
            </label>
        </form>
    </div>
    <div class="uploading-images">
        <div class="images"></div>
        <div class="sidebar">
            <div class="url">
                <p>Album</p>
                <div>
                    <input id="url_full" type="text" value="https://i.k8r.eu/a/ERROR">
                    <button class="copy" data-target="#url_full">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/page_upload.js"></script>
{{end}}